{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_task" %}">Добавить Задачу</a>
    </li>
{% endblock %}

{% block content %}
    {% include 'partial/search.html' %}

    <br/><h1>Список Задач:</h1><br>
    <div class="row">
        {% for task in tasks %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url "task_view" task.pk %}"><h5 style="display: inline-block;">{{ task.id }}
                            - {{ task.summary }}</h5></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}