{% extends "base.html" %}

{% block title %}Details Page{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_task" %}">Добавить Задачу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "update_task" task.pk %}">Изменить Задачу</a>
    <li class="nav-item">
        <a class="nav-link" href="{% url "delete_task" task.pk %}">Удалить Задачу</a>
    </li>
{% endblock %}

{% block content %}
    <br/>
    <h3>{{ task.summary }}</h3><br>
    <p>{{ task.description }}</p>
    <p>{{ task.status }}</p>
    {% for each_type in task.type.all %}
        <p>{{ each_type.task_type }}</p>
    {% endfor %}
    <br/>

{% endblock %}