{% extends "base.html" %}

{% block title %}Details Page{% endblock %}

{% block nav %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.change_project %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "webapp:update_project" project.pk %}">Редактировать Проект</a>
            </li>
        {% endif %}
        {% if perms.webapp.delete_project %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "webapp:delete_project" project.pk %}">Удалить Проект</a>
            </li>
        {% endif %}
        {% if perms.webapp.add_task %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "webapp:project_task_create" project.pk %}">Добавить Задачу</a>
            </li>
        {% endif %}
        {% if perms.webapp.add_user_project and perms.webapp.remove_user_project %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "webapp:update_project_user" project.pk %}">Добавить/Удалить
                    Пользователя</a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <h3 class="card-title fs-2">{{ project.title }}</h3>
            <p class="card-text text-secondary">Описание: {{ project.full_description }}</p>
            <p class="card-text text-secondary">Пользователи:
                {% for end_user in project.user.all %}
                    {{ end_user.username }}
                    {% if  not forloop.last %},
                    {% endif %}
                {% endfor %}</p>
            <p class="card-text">{{ article.content }}</p>
        </div>
    </div>

    <div class="row">
        {% for task in project.project_tasks.all %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url "webapp:task_view" task.pk %}"><h5 style="display: inline-block;">{{ task.id }}
                            - {{ task.summary }}</h5></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br/>

{% endblock %}